<form action="/addArticle" method="POST">
    <p>Título</p>
    <input type="text" name="title">
    <p>Conteúdo: </p>
    <textarea name="content"></textarea>
    <button type="submit">Salvar</button>
</form>